.index-info {
  text-align: center;
  color: #fff;
  margin: 20px 0;
  font-size: 18px;
  font-weight: 300;
}

.slider {
  max-width: 100%;
  position: relative;
  display: flex;
  justify-content: center; /* Centrer horizontalement */
  align-items: center; /* Centrer verticalement */
  height: 100vh; /* Hauteur égale à la hauteur de la vue */
}

.image-info {
  position: absolute;
  z-index: 2; /* Placez-le au-dessus de l'image */
  top: 0px; /* Placez-le en haut du slider */
  left: 0;
  width: 100%;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7); /* Fond semi-transparent */
  padding: 8px 0; /* Espacement interne ajusté */
  font-weight: 400;
  text-align: center;
  backdrop-filter: blur(5px); /* Ajoute un flou au fond (CSS backdrop-filter) */
}

.slider-img {
  max-width: 100%;
  max-height: 100%; /* Pour éviter que l'image ne dépasse de la vue */
}

.navigation-button {
  position: absolute;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid #d4d4d4;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.prev-button {
  left: 10px;
}

.next-button {
  right: 10px;
}

.navigation-button:hover {
  background-color: #4e4e4e56;
}

.navigation-button img {
  width: 12px;
}

/* Media Queries pour les écrans de largeur maximale de 850px */
@media (max-width: 850px) {
  .index-info {
    font-size: 16px;
  }
  .slider {
    max-width: 400px;
    margin: 0 auto;
  }
  .navigation-button {
    width: 30px;
    height: 30px;
  }
  .prev-button {
    left: 5px;
  }
  .next-button {
    right: 5px;
  }
  .navigation-button img {
    width: 10px;
  }
}
